<div class="page page-footable">

    <!-- page content -->
    <div class="pagecontent">
        <!-- upper part -->
        <div class="row">
            <div class="col-lg-12">

                <a class="btn btn-ef btn-large btn-ef-1 btn-ef-1f mb-10" ui-sref="app.business.add" >Add a Business</a>
                <section class="tile">
                    <!-- tile body -->
                    <div class="tile-body">

                        <div class="form-group">
                            <label for="filter" style="padding-top: 5px">Find a Business:</label>
                            <input placeholder="search" id="filter" type="text" class="form-control input w-xxl mb-10 inline-block"/>
                        </div>

                        <table id="searchTextResults" ui-jq="footable" data-filter="#filter" data-page-size="5" class="footable table table-custom">
                            <thead>
                            <tr>
                                <th>Business ID</th>
                                <th>Business Name</th>
                                <th data-hide="phone">Area</th>
                                <th data-hide='phone'>Categories</th>
                                <th data-hide='phone'>Memberships Level</th>
                                <th data-hide='phone'>Member Since</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="business in businesses | filter:searchText" my-directive>
                                <td>{{business.id}}</td>
                                <td>{{business.name}}</td>
                                <td>{{business.area}}</td>
                                <td>{{business.category}}</td>
                                <td>{{business.membership}}</td>
                                <td>{{business.start}}</td>
                            </tr>
                            </tbody>
                            <tfoot class="hide-if-no-paging">
                            <tr>
                                <td colspan="5" class="text-center">
                                    <ul class="pagination"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /tile body -->

                </section>
            </div>
        </div>
    </div>

    <!-- upper part fixed-->

    <!--lower tabbed part -->
    <!--
        <div class="row">
            <div ui-view=""></div>
        </div>-->
    <!-- lower tabbed part end -->


</div>

