<div class="page page-navs">


    <!-- page header -->
    <div class="pageheader">

        <h2>{{page.title}}</h2>
    </div>
    <!-- /page header -->


    <!-- page content -->
    <div class="pagecontent">
        <!-- upper part -->
        <div class="row">
            <div class="col-lg-12">

                <section class="tile">
                    <div class="tile-body clearfix">
                        <div class="row">
                            <form class="form-horizontal" role="form">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="form-group">
                                            <p class="col-lg-3">User Id</p>
                                            <p class="col-lg-9">S9034FBGJKB3</p>
                                        </div>
                                        <div class="form-group">
                                            <p class="col-lg-3">User Name</p>

                                            <p class="col-lg-9">
                                                <span class="bus_name"><b>Javed Habib Salon</b></span>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" style="width: auto">Categories</label>

                                            <div class="col-lg-9">

                                                <label class="checkbox-inline checkbox-custom">
                                                    <input type="checkbox" id="inlineCheckbox4" value="option1"><i></i>
                                                    Salon
                                                </label>
                                                <label class="checkbox-inline checkbox-custom">
                                                    <input type="checkbox" id="inlineCheckbox5" value="option2"><i></i> Spa
                                                </label>
                                                <label class="checkbox-inline checkbox-custom">
                                                    <input type="checkbox" id="inlineCheckbox6" value="option3"><i></i> Gym
                                                </label>
                                                <label class="checkbox-inline checkbox-custom">
                                                    <input type="checkbox" id="inlineCheckbox7" value="option3"><i></i> Yoga
                                                </label>
                                                <label class="checkbox-inline checkbox-custom">
                                                    <input type="checkbox" id="inlineCheckbox8" value="option3"><i></i> Nail
                                                    Art
                                                </label>
                                                <label class="checkbox-inline checkbox-custom">
                                                    <input type="checkbox" id="inlineCheckbox9" value="option3"><i></i>
                                                    Tattoo
                                                </label>
                                                <label class="checkbox-inline checkbox-custom">
                                                    <input type="checkbox" id="inlineCheckbox10" value="option3"><i></i>
                                                    Fitness
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label" for="gender">Gender</label>
                                            <select class="form-control col-lg-9" id="gender">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="col-lg-4">
                                <p>
                                    <button type="button" class="btn btn-hotpink btn-rounded mb-10 ">Modify</button>
                                    <button type="button" class="btn btn-hotpink btn-rounded mb-10">Block</button>
                                    <button type="button" class="btn btn-hotpink btn-rounded mb-10">Delete</button>
                                </p>
                                <p>
                                    <button type="button" class="btn btn-drank btn-rounded mb-10 col-lg-8">Generate
                                        password
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="gap-med"></div>
                        <div class="row" ng-controller="BusinessTabsCtrl">
                            <div class="col-lg-12">
                                <tabset class="tabs-dark" justified="true">
                                    <tab heading="Basic Info">
                                        <div class="row">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label" for="street">Street</label>

                                                    <div class="col-lg-9">
                                                        <input class="form-control" name="add1" id="street" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label" for="area">Area</label>

                                                    <div class="col-lg-9">
                                                        <input class="form-control" type="text" id="area" name="area">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="city" class="col-lg-2 control-label">City</label>

                                                    <div class="col-lg-9">
                                                        <input class="form-control" type="text" id="city" name="city">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="state" class="col-lg-2 control-label">State</label>

                                                    <div class="col-lg-9">
                                                        <input class="form-control" type="text" id="state" name="city">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="city" class="col-lg-2 control-label">Country</label>

                                                    <div class="col-lg-9">
                                                        <input class="form-control" type="text" id="country"
                                                               name="city">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="pincode" class="col-lg-2 control-label">Pincode</label>

                                                    <div class="col-lg-9">
                                                        <input class="form-control" type="text" id="pincode"
                                                               name="pincode">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="contact1" class="col-lg-2 control-label">Contact No
                                                        1</label>

                                                    <div class="col-lg-9">
                                                        <input class="form-control" type="phone" id="contact1"
                                                               name="contact1">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="contact2" class="col-lg-2 control-label">Contact No
                                                        2</label>

                                                    <div class="col-lg-9">
                                                        <input class="form-control" type="phone" id="contact2"
                                                               name="contact2">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="website" class="col-lg-2 control-label">Website</label>

                                                    <div class="col-lg-9">
                                                        <input class="form-control" type="text" id="website"
                                                               name="website">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email" class="col-lg-2 control-label">Contact No
                                                        2</label>

                                                    <div class="col-lg-9">
                                                        <input class="form-control" type="email" id="email"
                                                               name="email">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Days</label>

                                                    <div class="col-lg-10">

                                                        <label class="checkbox-inline checkbox-custom">
                                                            <input type="checkbox" id="mon" value="option1"><i></i>
                                                            Mon
                                                        </label>
                                                        <label class="checkbox-inline checkbox-custom">
                                                            <input type="checkbox" id="tue" value="option2"><i></i>
                                                            Tuesday
                                                        </label>
                                                        <label class="checkbox-inline checkbox-custom">
                                                            <input type="checkbox" id="wed" value="option3"><i></i>
                                                            Wednesday
                                                        </label>
                                                        <label class="checkbox-inline checkbox-custom">
                                                            <input type="checkbox" id="thru" value="option3"><i></i>
                                                            Thursday
                                                        </label>
                                                        <label class="checkbox-inline checkbox-custom">
                                                            <input type="checkbox" id="fri" value="option3"><i></i>
                                                            Friday
                                                        </label>
                                                        <label class="checkbox-inline checkbox-custom">
                                                            <input type="checkbox" id="sat" value="option3"><i></i>
                                                            Saturday
                                                        </label>
                                                        <label class="checkbox-inline checkbox-custom">
                                                            <input type="checkbox" id="sun" value="option3"><i></i>
                                                            Sunday
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12" ng-controller="TimepickerDemoCtrl">
                                                    <div class="col-lg-6">
                                                        <label for="opentime" class="col-lg-6 control-label time-label">Opening
                                                            Hours</label>
                                                        <timepicker id="opentime" class="col-lg-6" ng-model="opentime"
                                                                    ng-change="changed()" hour-step="hstep"
                                                                    minute-step="mstep"
                                                                    show-meridian="ismeridian"></timepicker>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label for="closetime"
                                                               class="col-lg-6 control-label time-label">Closing
                                                            Hours</label>
                                                        <timepicker id="closetime" class="col-lg-6" ng-model="closetime"
                                                                    ng-change="changed()" hour-step="hstep"
                                                                    minute-step="mstep"
                                                                    show-meridian="ismeridian"></timepicker>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">Facilities</label>

                                                        <div class="col-lg-5">

                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i> Parking
                                                            </label>
                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i> Credit Card Accepted
                                                            </label>
                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i>Debit Card Accepted
                                                            </label>
                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i> Wifi
                                                            </label>

                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i> Air Conditioner
                                                            </label>

                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i> TV
                                                            </label>
                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i> Pets Allowed
                                                            </label>
                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i> Home Service
                                                            </label>

                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i> Kids Services
                                                            </label>
                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i> Personal Trainer
                                                            </label>
                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i> Group Session
                                                            </label>
                                                            <label class="checkbox checkbox-custom checkbox-custom-sm">
                                                                <input type="checkbox"><i></i> Trial
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-lg-2">Tags</label>

                                                        <div class="col-lg-10" ng-controller="tagController">
                                                            <div class="tag-input-ctn">
                                                                <div data-ng-repeat="(key, tag) in inputTags"
                                                                     class="input-tag">
                                                                    {{ tag.name }}
                                                                    <div class="delete-tag"
                                                                         data-ng-click="deleteTag(key)">&times;</div>
                                                                </div>

                                                                <input type="text" data-tag-input=""
                                                                       data-ng-model="tagText"
                                                                       data-ng-style="{width: inputWidth}"
                                                                       data-new-tag="addTag()"
                                                                       data-delete-tag="deleteTag()">

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <button class="btn btn-blue" id="business_submit">Save</button>
                                            </form>
                                        </div>
                                    </tab>
                                    <!-- Tab1 ends here ----------------------------->

                                    <!-- Tab 2 starts ------------------------------->

                                    <tab heading="Menu">
                                        <div class="gallery" ng-controller="GalleryCtrl">
                                            <ul class="mix-filter pull-right">
                                                <li class="filter active" data-filter="all">
                                                    All
                                                </li>
                                                <li class="filter" data-filter=".cats">
                                                    Cats
                                                </li>
                                                <li class="filter" data-filter=".animals">
                                                    Animals
                                                </li>
                                                <li class="filter" data-filter=".cities">
                                                    Cities
                                                </li>
                                                <li class="filter" data-filter=".cats, .animals">
                                                    Cats and Animals
                                                </li>
                                            </ul>

                                            <ul class="mix-controls">
                                                <li class="select-all">
                                                    <label class="checkbox checkbox-custom checkbox-custom-sm inline-block m-0">
                                                        <input type="checkbox" ng-model="selectedAll"
                                                               ng-click="selectAll()"><i></i> Select all
                                                    </label>
                                                </li>
                                                <li ng-class="{'disabled': !isSelected}">
                                                    <a href="javascript:;"><i class="fa fa-envelope-o"></i> Email</a>
                                                </li>
                                                <li ng-class="{'disabled': !isSelected}">
                                                    <a href="javascript:;"><i class="fa fa-download"></i> Download</a>
                                                </li>
                                                <li ng-class="{'disabled': !isSelected}">
                                                    <a href="javascript:;"><i class="fa fa-pencil"></i> Edit</a>
                                                </li>
                                                <li ng-class="{'disabled': !isSelected}">
                                                    <a href="javascript:;"><i class="fa fa-trash-o"></i> Delete</a>
                                                </li>
                                            </ul>

                                            <!-- row -->
                                            <div class="row mix-grid" ui-jq="mixItUp">

                                                <div class="gallery" ui-jq="magnificPopup"
                                                     ui-options="{
                                                                delegate: 'a.img-preview',
                                                                    type: 'image',
                                                                    tLoading: 'Loading image #%curr%...',
                                                                mainClass: 'mfp-img-mobile',
                                                                gallery: {
                                                                  enabled: true,
                                                                  navigateByImgClick: true,
                                                                  preload: [0,1]
                                                                }
                                                               }">

                                                    <!-- col -->
                                                    <div class="col-md-4 col-sm-6 mb-20 mix mix_all {{image.category}}"
                                                         ng-class="{'selected': image.selected}"
                                                         ng-repeat="image in images">
                                                        <div class="img-container">
                                                            <img class="img-responsive" ng-src="{{image.src}}" alt="">

                                                            <div class="img-details">
                                                                <h4 class="custom-font">{{image.title}}</h4>

                                                                <div class="img-controls">
                                                                    <a href="javascript:;" class="img-select"
                                                                       ng-click="selectImage($index)">
                                                                        <i class="fa fa-circle-o"
                                                                           ng-show="!image.selected"></i>
                                                                        <i class="fa fa-circle"
                                                                           ng-show="image.selected"></i>
                                                                    </a>
                                                                    <a href="javascript:;" class="img-link">
                                                                        <i class="fa fa-link"></i>
                                                                    </a>
                                                                    <a class="img-preview" href="{{image.src}}"
                                                                       title="{{image.title}}">
                                                                        <i class="fa fa-search"></i>
                                                                    </a>
                                                                    <a href="javascript:;" class="img-more">
                                                                        <i class="fa fa-ellipsis-v"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /col -->

                                                </div>

                                            </div>
                                            <!-- /row -->


                                        </div>

                                    </tab>

                                    <tab heading="Gallery">


                                    </tab>
                                    <tab heading="Marketing">

                                        <div ng-controller="AccordionDemoCtrl">

                                            <accordion close-others="oneAtATime">
                                                <accordion-group heading="20% off on Wednesdays" class="panel-greensea">
                                                    <p>Dates : </p>
                                                    <ul class="unstyled">
                                                        <li>
                                                            <p>Started at 01-06-2015</p>
                                                        </li>

                                                        <li>
                                                            <p>Started at 01-06-2015</p>
                                                        </li>
                                                    </ul>
                                                </accordion-group>
                                            </accordion>
                                            <div class="row">
                                                <div class="col-md-6 portlets connected" ui-options="{items:'.portlet', handle:'.tile-header', connectWith:'.connected'}">
                                                    <!-- tile -->
                                                    <section class="tile portlet bg-lightred" fullscreen="isFullscreen02">

                                                        <!-- tile header -->
                                                        <div class="tile-header dvd dvd-btm">
                                                            <h1 class="custom-font">Template 1 </h1>
                                                        </div>
                                                        <!-- /tile header -->

                                                        <!-- tile body -->
                                                        <div class="tile-body"  ng-controller="DatepickerDemoCtrl">
                                                            <div class="form-group">
                                                                <label for="title1">Offer Title </label>
                                                                <input class="form-control input-medium" id="title1"
                                                                       name="title">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Start Date</label>

                                                                <p class="input-group">
                                                                    <input type="text" class="form-control"
                                                                           datepicker-popup="{{format3}}" ng-model="dt"
                                                                           is-open="opened" min-date="minDate"
                                                                           max-date="'2015-06-22'"
                                                                           datepicker-options="dateOptions"
                                                                           ng-required="true"
                                                                           close-text="Close"/>
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default"
                                                                ng-click="open($event)"><i class="fa fa-calendar"></i>
                                                        </button>
                                                      </span>
                                                                </p>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>End Date</label>

                                                                <p class="input-group">
                                                                    <input type="text" class="form-control"
                                                                           datepicker-popup="{{format4}}" ng-model="dt"
                                                                           is-open="opened" min-date="minDate"
                                                                           max-date="'2015-06-22'" datepicker-options="dateOptions"
                                                                           ng-required="true"
                                                                           close-text="Close"/>
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default"
                                                                ng-click="open($event)"><i class="fa fa-calendar"></i>
                                                        </button>
                                                      </span>
                                                                </p>

                                                            </div>
                                                        </div>
                                                        <!-- /tile body -->

                                                    </section>
                                                    <!-- /tile -->

                                                </div>
                                                <div class="col-md-6">
                                                    <!-- tile -->
                                                    <section class="tile portlet bg-lightred" fullscreen="isFullscreen02">

                                                        <!-- tile header -->
                                                        <div class="tile-header dvd dvd-btm">
                                                            <h1 class="custom-font">Template 2 </h1>
                                                        </div>
                                                        <!-- /tile header -->

                                                        <!-- tile body -->
                                                        <div class="tile-body"  >
                                                            <div class="form-group" >
                                                                <label for="title">Offer Title </label>
                                                                <input class="form-control input-medium" id="title"
                                                                       name="title">
                                                            </div>
                                                            <div class="form-group" ng-controller="DatepickerDemoCtrl">
                                                                <label>Start Date</label>

                                                                <p class="input-group">
                                                                    <input type="text" class="form-control"
                                                                           datepicker-popup="{{format1}}" ng-model="dt"
                                                                           is-open="opened" min-date="minDate"
                                                                           max-date="'2015-06-22'"
                                                                           datepicker-options="dateOptions"
                                                                           date-disabled="disabled(date, mode)"
                                                                           ng-required="true"
                                                                           close-text="Close"/>
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default"
                                                                ng-click="open($event)"><i class="fa fa-calendar"></i>
                                                        </button>
                                                      </span>
                                                                </p>
                                                            </div>
                                                            <div class="form-group" ng-controller="DatepickerDemoCtrl">
                                                                <label>End Date</label>

                                                                <p class="input-group" >
                                                                    <input type="text" class="form-control"
                                                                           datepicker-popup="{{format2}}" ng-model="dt"
                                                                           is-open="opened" min-date="minDate"
                                                                           max-date="'2015-06-22'" datepicker-options="dateOptions"
                                                                           date-disabled="disabled(date, mode)" ng-required="true"
                                                                           close-text="Close"/>
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default"
                                                                ng-click="open($event)"><i class="fa fa-calendar"></i>
                                                        </button>
                                                      </span>
                                                                </p>

                                                            </div>
                                                        </div>
                                                        <!-- /tile body -->

                                                    </section>
                                                    <!-- /tile -->
                                                </div>


                                            </div>
                                        </div>


                                    </tab>
                                    <tab heading="Booking">
                                        <!-- tile -->
                                        <section class="tile">

                                            <!-- tile header -->
                                            <div class="tile-header dvd dvd-btm">
                                                <h1 class="custom-font"><strong>Table </strong>Filtering</h1>
                                            </div>
                                            <!-- /tile header -->

                                            <div class="tile-body" ng-controller="TableFilterCtrl">

                                                <button ng-click="tableParams.sorting({})"
                                                        class="btn btn-default pull-right">Clear sorting
                                                </button>
                                                <button ng-click="tableParams.filter({})"
                                                        class="btn btn-default pull-right">Clear filter
                                                </button>

                                                <table ng-table="tableParams" show-filter="true"
                                                       class="table table-custom">
                                                    <tr ng-repeat="user in $data">
                                                        <td data-title="'Name'" sortable="'name'"
                                                            filter="{ 'name': 'text' }">
                                                            {{user.name}}
                                                        </td>
                                                        <td data-title="'Date'" sortable="'date'"
                                                            filter="{ 'date': 'text' }">
                                                            {{user.date}}
                                                        </td>
                                                        <td data-title="'Time'" sortable="'time'"
                                                            filter="{ 'time': 'text' }">
                                                            {{user.time}}
                                                        </td>
                                                        <td data-title="'Reminder Day'" sortable="'reminderdate'"
                                                            filter="{ 'reminderdate': 'text' }">
                                                            {{user.reminderdate}}
                                                        </td>
                                                        <td data-title="'Reminder Time'" sortable="'remindertime'"
                                                            filter="{ 'remindertime': 'text' }">
                                                            {{user.remindertime}}
                                                        </td>
                                                        <td data-title="'Acceptance Date'" sortable="'acceptancedate'"
                                                            filter="{ 'acceptancedate': 'text' }">
                                                            {{user.acceptancedate}}
                                                        </td>
                                                        <td data-title="'Acceptance Time'" sortable="'acceptancetime'"
                                                            filter="{ 'acceptancetime': 'text' }">
                                                            {{user.acceptancetime}}
                                                        </td>
                                                        <td data-title="'Status'" sortable="'status'"
                                                            filter="{ 'status': 'text' }">
                                                            {{user.status}}
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>

                                        </section>


                                    </tab>
                                </tabset>
                                <div ui-view></div>
                            </div>

                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>

    <!-- upper part fixed-->

    <!--lower tabbed part -->
    <!--
        <div class="row">
            <div ui-view=""></div>
        </div>-->
    <!-- lower tabbed part end -->


</div>
